/* Universal box sizing */
* {
    box-sizing: border-box;
}

/*Header and Footer*/
.header, .footer {
    background-color:lightgray;
    width: 100%;
    text-align: center;
}

.header {
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
}

.headeritem, .footeritem {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    color: black;
}

.headeritem {
    width: 200px;
    background-color: darkgray;
    font-size: 25px;
}

.footerleft {
    height: 45px;
    float: left;
    width: 40%;
    text-align: left;
}

.footercenter {
    float: left;
    width: 20%;
}

.footerright {
    float: right;
    width: 40%;
    text-align: right;
}

.facebook_background, .instagram_background, .twitter_background {
    text-align: center;
    width: 45px;
    height: 45px;
    display: inline-block;
}

.facebook_background {
    background: #3B5998;
}

.instagram_background {
    background: #125688;
}

.twitter_background {
    background: #55ACEE;
}

.facebook_logo, .instagram_logo, .twitter_logo {
    width: 25px;
    height: 25px;
    margin: 10px;
}

/*Headings*/
h1 {
    font-size: 40px;
    text-align: center;
}

/*Body*/
body {
    margin-bottom: 60px;
    padding: 0;
    height: 100%;
}

/*Index Content*/
.indexcontent {
    padding: 30px;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.restaurantimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
}

@media screen and (max-width:800px) {
    .restaurantimage {
      width:100%;
    }
}

.booknow {
    font-size: 25px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: lightgreen;
}

.booknowlink {
    text-decoration: none;
    color: black;
}

/*Menu Content*/
.menuheading {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:sienna;
}

.menuitem {
    text-align: center
}

.menusubheading {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:darkslategray;
    padding-right: 30px;
}

.menuprice {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:brown;
}

.menucontent {
    padding: 30px;
    padding-top: 0px;
    font-size: 25px;
    font-weight: lighter;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    color: saddlebrown;
}

.menuimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 20%;
}

@media screen and (max-width:800px) {
    .menuimages {
      width:100%;
    }
}

.drinks {
    margin: auto;
    width: 600px;
}

.drinknamecolumn {
    width: 85%;
    float: left;
}

.drinkname {
    font-size: 25px;
    font-weight: lighter;
    color: saddlebrown;
}

.drinkpricecolumnn {
    width: 15%;
    float: right;
}

.drinkprice {
    font-size: 25px;
    font-weight: lighter;
    color:brown;
}

/*Staff Content*/
.staffcontactstable {
    margin-left: auto; 
    margin-right: auto;
    font-size: 30px;
    text-align: left;
    padding: 12px;
}

.staffcontactstable th, .staffcontactstable td {
    padding-left: 20px;
    padding-right: 20px;
}

/*Privacy Content*/
.privacycontent {
    padding: 30px;
    font-size: 30px;
    max-width: 800px;
}

/*Forms*/
.contactform, .reservationform, .hourscalendar, .rostercalendar {
    margin: 0 auto;
    display: block;
}

/*Google Map*/
#map {
    height: 400px;
    width: 100%;
}