body, html {
    height: 100%;
    font-family: sans-serif;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../images/coffeehouse.jpeg");
    min-height: 75%;
}

.menu {
    display: none;
}

/*Map*/
#map {
    height: 400px;
}

/*Embedded content*/
#contactform, #reservationform, .rostercalendar {
    margin: 0 auto;
    display: block;
}

/*Staff Content*/
.staffcontactstable {
    margin-left: auto; 
    margin-right: auto;
    font-size: 30px;
    text-align: left;
    padding: 12px;
}

.staffcontactstable th, .staffcontactstable td {
    padding-left: 20px;
    padding-right: 20px;
}

/*Footer Content*/
.facebook_background, .instagram_background, .twitter_background {
    text-align: center;
    width: 45px;
    height: 45px;
    display: inline-block;
}

.facebook_background {
    background: #3B5998;
}

.instagram_background {
    background: #125688;
}

.twitter_background {
    background: #55ACEE;
}

.facebook_logo, .instagram_logo, .twitter_logo {
    width: 25px;
    height: 25px;
    margin: 10px;
}