/* Universal box sizing */
* {
    box-sizing: border-box;
}

/*Header and Footer*/
.header, .footer {
    background-color:lightgray;
    width: 100%;
    text-align: center;
}

.header {
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
}

.headeritem, .footeritem {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: black;
}

.headeritem {
    width: 200px;
    background-color: darkgray;
    font-size: 25px;
}

.footerleft {
    float: left;
    width: 40%;
    text-align: left;
}

.footercenter {
    float: left;
    width: 20%;
}

.footerright {
    float: right;
    width: 40%;
    text-align: right;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: white;
    background: #3B5998;
}

.fa-instagram {
    color: white;
    background: #125688;
}

.fa-twitter {
    color: white;
    background: #55ACEE;
}

/*Headings*/
h1 {
    font-size: 40px;
    text-align: center;
}

/*Body*/
body {
    margin-bottom: 60px;
    padding: 0;
    height: 100%;
}

/*Index Content*/
.indexcontent {
    padding: 30px;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.restaurantimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
}

.booknow {
    font-size: 25px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: lightgreen;
}

.booknowlink {
    text-decoration: none;
    color: black;
}

/*Menu Content*/
.menuheading {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:sienna;
}

.menuitem {
    text-align: center
}

.menusubheading {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:darkslategray;
    padding-right: 30px;
}

.menuprice {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:brown;
}

.menucontent {
    padding: 30px;
    padding-top: 0px;
    font-size: 25px;
    font-weight: lighter;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    color: saddlebrown;
}

.menuimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 20%;
}

.drinks {
    margin: auto;
    width: 600px;
}

.drinknamecolumn {
    width: 85%;
    float: left;
}

.drinkname {
    font-size: 25px;
    font-weight: lighter;
    color: saddlebrown;
}

.drinkpricecolumnn {
    width: 15%;
    float: right;
}

.drinkprice {
    font-size: 25px;
    font-weight: lighter;
    color:brown;
}

/*Privacy Content*/
.privacycontent {
    padding: 30px;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
}

/*Forms*/
.contactform, .reservationform, .hourscalendar {
    margin: 0 auto;
    display: block;
}

/*Google Map*/
#map {
    height: 400px;
    width: 100%;
}