/* Universal box sizing */
* {
    box-sizing: border-box;
}

/*Header and Footer*/
#header, #footer {
    background-color:lightgray;
    width: 100%;
    text-align: center;
}

#header {
    position: relative;
}

#footer {
    position: fixed;
    bottom: 0;
}

#headeritem, #footeritem {
    font-family: 'Zen Kurenaido', sans-serif;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

#headeritem {
    width: 170px;
    background-color: darkgray;
    font-size: 25px;
}

#footerleft, #footerright {
    margin-left: 10px;
}

#footerleft {
    float: left;
}

#footerright {
    float: right;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: white;
}

.fa-facebook {
    background: #3B5998;
}

.fa-instagram {
    background: #125688;
}

.fa-twitter {
    background: #55ACEE;
}

/*Headings*/
h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-align: center;
}

/*Body*/
body {
    margin-bottom: 50px;
}

/*Index Content*/
#indexcontent {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 30px;
    font-size: 30px;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

#restaurantimage {
    text-align: center;
}

#booknow {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 25px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: lightgreen;
}

#booknowlink {
    text-decoration: none;
    color: black;
}

/*Menu Content*/
#menuheading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:sienna;
}

#menuitem {
    text-align: center
}

#menusubheading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:darkslategray;
    padding-right: 30px;
}

#menuprice {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color:brown;
}

#menucontent {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 30px;
    padding-top: 0px;
    font-size: 25px;
    font-weight: lighter;
    max-width: 800px;
    text-align: center;
    margin: auto;
    color: saddlebrown;
}

/*Forms*/
#contactform, #reservationform {
    margin: 0 auto;
    display: block;
}

/*Google Map*/
#map {
    height: 400px;
    width: 100%;
}